/*　ローディング画面　*/
#loading {
    transition: all 1s;
    background-color: #ddd;
    position: fixed;
    z-index: 9999;
    inset: 0;
    display: grid;
    place-items: center;
}
.spinner {
    width: 200px;
    height: 200px;
}

/*　ローディング完了したら、ローディング画面を隠す　*/
.loaded{
    opacity: 0;
    visibility: hidden;
}
h1{
    text-align:center;
}

/*　コンテンツ部分　*/
.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    max-width: 1020px;
    margin:auto;
    padding: 30px;
}
.itemes{
    width: 100%;
    height: auto;
    object-fit: cover;
}